.bm-burger-button {
  width: 36px;
  height: 30px;
  left: 36px;

  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 100% !important;
}

.bm-menu {
  background: #373a47;
  padding: 0.3rem 0.3rem 0;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
}
/* styling next link component so that will be a column list of links*/
.bm-item-list a {
  display: flex;
  flex-direction: column;
}
#HamburgerMenuHeader .bm-menu{
  background-color: white;
  height: auto !important;
}
#HamburgerMenuHeader .bm-cross-button span span {
  background-color: black;
  width: 2px !important;
  height: 19px !important;
}
#FirmHamburgerMenu .bm-overlay {
  /* background: transparent !important; */
  height: auto !important;
}

#FirmHamburgerMenu .bm-menu {
  background: white;
  padding: 0.3rem 0.3rem 0;
}

#FirmHamburgerMenu .bm-cross-button {
  left: 20px !important;
  top: 20px !important;
}

#FirmHamburgerMenu .bm-cross-button span span {
  background-color: black;
  width: 2px !important;
  height: 19px !important;
}
#FirmHamburgerMenu .bm-menu-wrap {
  position: absolute !important;
  margin-left: -8px;
  margin-top: -38px !important;
  height: auto !important;
  width: 100% !important;
  transition: all 0s ease 0s !important;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1) !important;
}

#FirmHamburgerMenu .bm-burger-button button{
  height: 24px !important;
  position: static !important;
  margin-top: 0px !important;
  z-index: 1001 !important;
}
#FirmHamburgerMenu .bm-burger-button div{
  position: static !important;
  margin-top: -30px;
}